body {
    background-color: rgba(0, 0, 0, 0.5)
}

.slick-slide {
    padding: 0 5px;
    margin: 0 5px;
}

.slick-center {
    background-color: red;
}

.card {
    cursor: pointer;
}

.card:hover {
    background-color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-body {
    background-color: #fefefe;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid;
    width: 80%;
}

.modal-content {
    border: none;

}

.modal-content .card-img-top {
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}